:root {
  --color-primary-1: #0d6efd;
  --color-primary-2: #ced4da;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}
.main-content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
.header-h1 {
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
}
.header-h1 h1 {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid var(--color-primary-1);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
}
.header-h1 h1::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.25rem;
  transform: translateX(-1.25rem);
  border-top: 1.25rem solid var(--color-primary-1);
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
}
.header-h1 h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.125rem;
  transform: translateX(-1.25rem);
  border-top: 1.25rem solid #fff;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
}

.btn-clipboard {
  border: 0;
  background-color: #fff;
}

.input-label-box {
  position: relative;
  border-left: 0.125rem solid var(--color-primary-2);
}

.input-label-box:hover {
  border-left: 0.125rem solid var(--color-primary-1);
}
.form-switch {
  padding-left: 12px;
}

.form-check-input {
  position: absolute;
  right: 12px;
}

.yourpassword {
  border-bottom: 1px solid var(--color-primary-1);
}

.error {
  color: red;
  border-bottom: 1px solid red;
}

.bi-clipboard-check path {
  stroke: var(--color-primary-1);
}

.selecteditem {
  border-left: 0.125rem solid var(--color-primary-1);
}

.footer {
  flex: 0 0 auto;
}

.btn-primary {
  color: #fff;
}

.saveBox {
  margin-top: 55px;
}

.savePasswordBox {
  border-top: 1px solid var(--color-primary-2);
}

.siteNameBox,
.savePasswordBox,
#viewSavedPassowrds {
  overflow: hidden;
  opacity: 0;
  animation: animation 2s forwards;
}

@keyframes animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-light {
  border: 1px solid var(--color-primary-2);
}

.siteName {
  color: var(--color-primary-2);
}
